@page "/"

<table class="table" style="width:100%">
    <tr>
        <td style="width:50%; vertical-align:top">

            <PageTitle>Index</PageTitle>

            <img src="./images/logo.png" style="max-height: 150px; max-width:300px" alt="Sound Vault Logo" class="img-fluid" />

            <h5>Welcome to Sound Vault App</h5>
            <h6>here you will be able to build your musical catalog of albums</h6>

        </td>
        
        <td style="width:50%">
            <SoundVault.UI.Components.PieChart></SoundVault.UI.Components.PieChart>
        </td>
    </tr>
</table>





